<a href="https://colab.research.google.com/github/amiralitariq/Python/blob/main/Python_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

100+ Python challenging programming exercises for Python

**Question # 1**

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: Consider use range(#begin, #end) method

In [ ]:
list_of_numbers = range(2000, 3201)
for num in list_of_numbers:
  if num % 7 == 0 and num%5 !=0:
    print(num, end = ',')

2002,2009,2016,2023,2030,2037,2044,2051,2058,2065,2072,2079,2086,2093,2100,2107,2114,2121,2128,2135,2142,2149,2156,2163,2170,2177,2184,2191,2198,2205,2212,2219,2226,2233,2240,2247,2254,2261,2268,2275,2282,2289,2296,2303,2310,2317,2324,2331,2338,2345,2352,2359,2366,2373,2380,2387,2394,2401,2408,2415,2422,2429,2436,2443,2450,2457,2464,2471,2478,2485,2492,2499,2506,2513,2520,2527,2534,2541,2548,2555,2562,2569,2576,2583,2590,2597,2604,2611,2618,2625,2632,2639,2646,2653,2660,2667,2674,2681,2688,2695,2702,2709,2716,2723,2730,2737,2744,2751,2758,2765,2772,2779,2786,2793,2800,2807,2814,2821,2828,2835,2842,2849,2856,2863,2870,2877,2884,2891,2898,2905,2912,2919,2926,2933,2940,2947,2954,2961,2968,2975,2982,2989,2996,3003,3010,3017,3024,3031,3038,3045,3052,3059,3066,3073,3080,3087,3094,3101,3108,3115,3122,3129,3136,3143,3150,3157,3164,3171,3178,3185,3192,3199,

In [ ]:
print(",".join([str(num) for num in range(2000,3201) if num%7==0 and num%5!=0]))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

**Question 2**

Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
input_num = int(input("Enter a positive number to find factorial: "))

if input_num < 0:
    print(f"You entered a negative number {input_num}, factorial is not defined.")
elif input_num == 0:
    print("Factorial: 1")  # 0! = 1
else:
    factorial = 1
    while input_num > 0:
        factorial *= input_num
        input_num -= 1
    print(f"Factorial: {factorial}")

Enter a positive number to find factorial: 0
Factorial: 1

Question 3

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider use dict()

In [ ]:
# my this approach is wrong beacuse the format is not as of dictionary

integral_num = int(input('Enter a number'))
for num in range(1,integral_num+1):
  print(f"{num}: {num*num}" , end = ',')

Enter a number4
1: 1,2: 4,3: 9,4: 16,

In [ ]:
#coreect solution

user_input_num = int(input('Enter a number'))

#creating empty dictionary
dict_of_num ={}

for num in range(1,user_input_num+1):
  dict_of_num[num] = num*num

print(dict_of_num)

Enter a number67
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489}

**Question 4**

Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

In [ ]:
user_list_of_num = input('Enter a list of numbers separated by comma: ')

num_list = user_list_of_num.split(',') #converting input string to a list

print(f"List: {num_list}")

num_tuple = tuple(num_list)

print(f"Tuple: {num_tuple}")

Enter a list of numbers separated by comma: 34,67,55,12,98
List: ['34', '67', '55', '12', '98']
Tuple: ('34', '67', '55', '12', '98')

**Question 5**

Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.

Hints: Use init method to construct some parameters

In [ ]:
class Printing:
  def __init__(self):
    self.user_string=""
  def getString(self):
    self.user_string=input("Enter a string:")
  def printString(self):
    print(f"Your input in upper case is : {self.user_string.upper()}")

def test():
  obj = Printing()
  obj.getString()
  obj.printString()

test()

Enter a string:amir ali
Your input in upper case is : AMIR ALI

**Question 6**

Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the program: 100,150,180 The output of the program should be: 18,22,24

Hints: If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26) In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
import math

c: int=50
h: int=30
d=input('Enter numbers in a comma-separated sequence').split(',') # It is string

#converting d to integer
for i, num in enumerate(d):
  num=int(num)
  result =math.sqrt((2*c*num)/h)
  if i==len(d)-1:
    print(round(result))
  else:
    print(round(result),end=',')

Enter numbers in a comma-separated sequence100,150,190
18,22,25

**Question 7**

Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. Note: i=0,1.., X-1; j=0,1,¡­Y-1. Example Suppose the following inputs are given to the program: 3,5 Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

Hints: Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

In [ ]:
#taking first input i-e x

x=int(input('Enter number of rows'))

#taking second input i-e y

y=int(input('Enter number of columns'))

#creating a 2D array

result=[]

for num1 in range(0,x):
  row=[]
  for num2 in range(0,y):
    row.append(num1*num2)
  result.append(row)

print(result)

Enter number of rows3
Enter number of columns5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

**Question 8**

Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. Suppose the following input is supplied to the program: without,hello,bag,world Then, the output should be: bag,hello,without,world

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
string_user_input=input('Enter words in a comma-separated sequence: ').split(',')
print("Words Before Sorting: ",string_user_input)
sorted_words=sorted(string_user_input)
print("Words After Sorting by using sorted(string_user_input): ", sorted_words)

# print("Sorted by using .sort(): ", string_user_input.sort()) [It will lead to an error because .sort() doesn't return anything]

string_user_input.sort()
print("Words after sorting by using .sort()", string_user_input)

Enter words in a comma-separated sequence: without,hello,bag,world
Words Before Sorting:  ['without', 'hello', 'bag', 'world']
Words After Sorting by using sorted(string_user_input):  ['bag', 'hello', 'without', 'world']
Words after sorting by using .sort() ['bag', 'hello', 'without', 'world']

**Question 9**

Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. Suppose the following input is supplied to the program: Hello world Practice makes perfect Then, the output should be: HELLO WORLD PRACTICE MAKES PERFECT

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
sentence_input=input("Enter a sentence: ")
print(sentence_input.upper())

Enter a sentence: Hello world Practice makes perfect
HELLO WORLD PRACTICE MAKES PERFECT

**Question 10**

Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again Then, the output should be: again and hello makes perfect practice world

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [ ]:
input_words=input("Enter a string to remove duplicates:").split(' ')
result=[]

for index,value in enumerate(input_words):
  if value not in result:
    result.append(value)
result.sort()
print(result)

Enter a string to remove duplicates:hello world and practice makes perfect and hello world again
['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']

**Question 11**
Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence. Example: 0100,0011,1010,1001 Then the output should be: 1010 Notes: Assume the data is input by console.

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [1]:
num_input=input('Enter a sequence of comma separated 4 digit binary number').split(',')
for num in num_input:
  if(int(num,2)%5==0): #converting binary to decimal, We can using positional notation
    print(num,end='')

Enter a sequence of comma separated 4 digit binary number0100,0011,1010,1001
1010

**Question 12**
Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [7]:
for num in range(1000,3001):
  if(int(str(num)[0])%2==0 and int(str(num)[1])%2==0 and int(str(num)[2])%2==0 and int(str(num)[3])%2==0):
    print(num,end=',')

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

**Question 13** Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program: hello world! 123 Then, the output should be: LETTERS 10 DIGITS 3

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [17]:
sentence_input=input('Enter a string: ')
count_letters=0
count_digits=0

# for index,value in enumerate(sentence_input):
for value in sentence_input:
  if(value.isalpha()):
    count_letters+=1
  elif(value.isdigit()):
    count_digits+=1

print(f"Letters: {count_letters}")
print(f"Digits: {count_digits}")

Enter a string: ameer
Letters: 5
Digits: 0

**Question 14**

Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program: Hello world! Then, the output should be: UPPER CASE 1 LOWER CASE 9

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.